<!DOCTYPE html>
<html>

<head>
    <title>certificate</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
    <link href="static/data/styles.css" type="text/css" rel="stylesheet" />
    <link href="static/files/certificate/styles.css" type="text/css" rel="stylesheet" />
    <script src="static/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="static/resources/scripts/axure/axQuery.js"></script>
    <script src="static/resources/scripts/axure/globals.js"></script>
    <script src="static/resources/scripts/axutils.js"></script>
    <script src="static/resources/scripts/axure/annotation.js"></script>
    <script src="static/resources/scripts/axure/axQuery.std.js"></script>
    <script src="static/resources/scripts/axure/doc.js"></script>
    <script src="static/resources/scripts/messagecenter.js"></script>
    <script src="static/resources/scripts/axure/events.js"></script>
    <script src="static/resources/scripts/axure/recording.js"></script>
    <script src="static/resources/scripts/axure/action.js"></script>
    <script src="static/resources/scripts/axure/expr.js"></script>
    <script src="static/resources/scripts/axure/geometry.js"></script>
    <script src="static/resources/scripts/axure/flyout.js"></script>
    <script src="static/resources/scripts/axure/model.js"></script>
    <script src="static/resources/scripts/axure/repeater.js"></script>
    <script src="static/resources/scripts/axure/sto.js"></script>
    <script src="static/resources/scripts/axure/utils.temp.js"></script>
    <script src="static/resources/scripts/axure/variables.js"></script>
    <script src="static/resources/scripts/axure/drag.js"></script>
    <script src="static/resources/scripts/axure/move.js"></script>
    <script src="static/resources/scripts/axure/visibility.js"></script>
    <script src="static/resources/scripts/axure/style.js"></script>
    <script src="static/resources/scripts/axure/adaptive.js"></script>
    <script src="static/resources/scripts/axure/tree.js"></script>
    <script src="static/resources/scripts/axure/init.temp.js"></script>
    <script src="static/resources/scripts/axure/legacy.js"></script>
    <script src="static/resources/scripts/axure/viewer.js"></script>
    <script src="static/resources/scripts/axure/math.js"></script>
    <script src="static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="static/data/document.js"></script>
    <script src="static/files/certificate/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() {
            return 'static/resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function() {
            return 'static/resources/Other.html';
        };
        $axure.utils.getReloadPath = function() {
            return 'static/resources/reload.html';
        };
    </script>
</head>

<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u0" class="ax_default box_1">
            <div id="u0_div" class=""></div>
            <div id="u0_text" class="text ">
                <p><span>Digital Forensics</span></p>
            </div>
        </div>

        <!-- frame (Rectangle) -->
        <div id="u1" class="ax_default box_1" data-label="frame">
            <div id="u1_div" class=""></div>
            <div id="u1_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- main_image (Image) -->
        <div id="u2" class="ax_default image" data-label="main_image">
            <img id="u2_img" class="img " src="static/images/certificate/main_image_u2.svg" />
            <div id="u2_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u3" class="ax_default image">
            <img id="u3_img" class="img " src="static/images/certificate/u3.png" />
            <div id="u3_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u4" class="ax_default heading_2">
            <div id="u4_div" class=""></div>
            <div id="u4_text" class="text ">
                <p style="font-size:28px;"><span>Verified</span></p>
                <p style="font-size:18px;"><span>Image Integrity Verification</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u5" class="ax_default heading_2">
            <div id="u5_div" class=""></div>
            <div id="u5_text" class="text ">
                <p><span>This image successfully passed all the required digital forensics tests from DigitalForensics.report</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u6" class="ax_default image">
            <img id="u6_img" class="img " src="static/images/certificate/u6.png" />
            <div id="u6_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u7" class="ax_default heading_3">
            <div id="u7_div" class=""></div>
            <div id="u7_text" class="text ">
                <p><span>Verified on</span></p>
            </div>
        </div>

        <!-- date (Rectangle) -->
        <div id="u8" class="ax_default heading_3" data-label="date">
            <div id="u8_div" class=""></div>
            <div id="u8_text" class="text ">
                <p><span>xx/xx/xxx</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9" class="ax_default heading_1">
            <div id="u9_div" class=""></div>
            <div id="u9_text" class="text ">
                <p><span>Image source</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10" class="ax_default heading_1">
            <div id="u10_div" class=""></div>
            <div id="u10_text" class="text ">
                <p><span>doi: </span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11" class="ax_default link_button">
            <div id="u11_div" class=""></div>
            <div id="u11_text" class="text ">
                <p><span>xxxxxxxxxxxxxxxxxxxxxxxx</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u12" class="ax_default heading_2">
            <div id="u12_div" class=""></div>
            <div id="u12_text" class="text ">
                <p><span>Error Level Analysis</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u13" class="ax_default heading_2">
            <div id="u13_div" class=""></div>
            <div id="u13_text" class="text ">
                <p><span>Discontinuity Analysis</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14" class="ax_default heading_2">
            <div id="u14_div" class=""></div>
            <div id="u14_text" class="text ">
                <p><span>Band Duplication Analysis</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u15" class="ax_default box_2">
            <div id="u15_div" class=""></div>
            <div id="u15_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u16" class="ax_default box_2">
            <div id="u16_div" class=""></div>
            <div id="u16_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u17" class="ax_default box_2">
            <div id="u17_div" class=""></div>
            <div id="u17_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u18" class="ax_default box_2">
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            <div id="u18_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u19" class="ax_default link_button">
            <div id="u19_div" class=""></div>
            <div id="u19_text" class="text ">
                <p><span>Detail Report</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u20" class="ax_default heading_1">
            <div id="u20_div" class=""></div>
            <div id="u20_text" class="text ">
                <p><span>PASSED</span></p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="static/resources/scripts/axure/ios.js"></script>
</body>

</html>