{% extends "base.html" %}
{% block head %}
<style>
    p {
        font-size: 13px;
        padding-right: 8px;
        margin: 0px;
    }

    .btn {
        white-space: nowrap;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
</style>
{% endblock %}
{% block content %}
<!-- Heading -->
<div class="card mb-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">
        <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'index' %}">Home Page</a>
            <span>/</span>
            <a href="{% url 'history_admin' %}">Admin</a>
            <span>/</span>
            <span>Submission {{ id }}</span>
        </h4>
    </div>
</div>

<div class="container">
    {% for c in crops %}
    <div class="row">
        <h4>Crops from image {{ forloop.counter }}</h4>
    </div>
    <div class="row">
        {% for i in c %}
        <div class="col-md-4 col-xs-5">
            <div style="background-color:lightgray;height: 120px;">
                <img class="img-fluid" style="margin: 0 auto; max-height: 120px; display: block"
                    src="{{ i.image.url }}" />
            </div>
            <div style="background-color: darkgray;">
                <div class="row">
                    <div class="col-md-6">
                        {% if submission.status == 0 %}
                        <a href="{% url 'analysis' sub_id=id crop_id=i.id %}" class="btn btn-light btn-sm" role="button"
                            style="font-size: 13px;">View Analysis</a>
                        {% elif i.certified == 0 %}
                        <a href="{% url 'analysis_admin' sub_id=id crop_id=i.id %}" class="btn btn-light btn-sm"
                            role="button" style="font-size: 13px;">Process</a>
                        {% else %}
                        <a href="{% url 'analysis_admin' sub_id=id crop_id=i.id %}" class="btn btn-light btn-sm"
                            role="button" style="font-size: 13px;">Reprocess</a>
                        {% endif %}
                        </a>
                    </div>
                    <div class="col-md-6 text-center justify-content-center align-self-center">
                        {% if submission.status == 0 %}
                        <p>N/A</p>
                        {% elif i.certified == 0 %}
                        <p>Not Processed</p>
                        {% elif submission.status == 5 and i.certified == 1 %}
                        <p>Last Passed</p>
                        {% elif submission.status == 5 and i.certified == 2 %}
                        <p>Last Failed</p>
                        {% elif i.certified == 1 %}
                        <p>Passed Tests</p>
                        {% elif i.certified == 2 %}
                        <p>Failed Tests</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% if submission.status != 0 %}
    <div class="row" style="margin-top: 40px;">
        <div class="card">
            <div class="card-body">
                {{ num_cert }} out of {{ total }} images are given certificates in this submission.
                <form action="#" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" id="done" value="Submit">
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}